doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Stöck Høund - IKEA Inventory Alerts
        link(rel="icon" href="/image/favicon.png")
        link(rel="stylesheet" href="/css/bower.css")
        link(rel="stylesheet" href="/css/index.css")
    
    body.sweden-yellow-bg(
        ng-app="com.spgill.StockHound"
        ng-controller="MainController as main"
        ng-init="main.init()"
        layout="column" layout-align="start center"
        )
        //- Top spacer
        span(flex)
        
        //- The jumbo
        h1.md-display-4.swedensans.sweden-blue-fg
            span Stöck Høund
            img(src="/image/hound.svg")
        
        //- The title
        md-content.md-whiteframe-3dp.content-frame(
            layout="column" layout-align="start stretch"
            )
            //- preamble
            p.md-subhead.
                We can notify you the next time a product comes in stock at your
                local IKEA store. Simply select your store, enter the product
                information, and enter your email adress to get started. You are
                allowed up to 5 active product reminders per email address.
            
            //- store
            md-input-container
                md-select(
                    placeholder="Select store"
                    ng-disabled="main.store_list.length == 0"
                    ng-model="main.store"
                    )
                    md-option(
                        ng-repeat="store in main.store_list"
                        ng-value="store[1]"
                        ) {{ store[0] }}
            
            //- product
            md-input-container.skinny
                input(
                    placeholder="Product URL or article number"
                    ng-model="main.product"
                    )
            
            //- email
            md-input-container.skinny
                input(
                    placeholder="Email address"
                    ng-model="main.email"
                    )
            
            //- captcha
            div.captcha(layout="row" layout-align="space-around center")
                span(style="font-size: 32px;")
                    img.emoji(src="/image/emoji_u1f6ab.svg")
                    img.emoji(src="/image/emoji_u1f916.svg")
                div(
                    vc-recaptcha
                    key="main.key"
                    ng-model="main.verification"
                    )
            
            //- submit
            md-button.md-primary.md-raised(
                ng-disabled="main.ready() || main.busy"
                ng-click="main.submit()"
                ) Create Reminder
            
            //- Loading bar
            md-progress-linear(
                md-mode="indeterminate"
                ng-disabled="!main.busy"
                )
        
        //- Bottom spacer
        span(flex)
        
        //- Footer
        div.md-caption.md-padding &copy; 2017 Samuel P. Gillispie II, all rights reserved. Works best on <a href="http://www.google.com/chrome/">Google Chrome</a>.
        
        script(src="/js/bower.js")
        //- script(src="https://www.google.com/recaptcha/api.js")
        script(src="/js/index.js")
        
        //- Google Analytics
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-98369651-1', 'auto');
            ga('send', 'pageview');
